/node_modules
/public/hot
/public/storage/*
!public/storage/uploads
/public/storage/uploads/*
!public/storage/uploads/images
/public/storage/uploads/images/*
!public/storage/uploads/images/attachments
/public/storage/uploads/images/attachments/*
!public/storage/uploads/images/attachments/building-type-1.png
!public/storage/uploads/images/attachments/building-type-2.png
!public/storage/uploads/images/attachments/building-type-3.png
!public/storage/uploads/images/attachments/building-type-4.png
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
